<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>WKIWMS - Add Episode Data</title>
</head>
<body>
    <!-- NAV -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.instagram.com/p/CdaOEptPywa/" target="_blank" rel="noopener noreferrer">
            <img src="../static/images/WKIWMS_logo.jpeg" width="28" height="28">
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">Episodes</a>
            <a class="navbar-item" href="{{ url_for('addEpisodeData') }}">Add Episode</a>
        </div>
    </nav>
    <!-- FORM -->
    <div class="container" id="episode-form-container">
      <div class="container mb-4">
        <div class="field">
          <label class="label">Episode Number</label>
          <div class="control">
            <input class="input" type="text" placeholder="1" id="episode-number" value="3" disabled>
          </div>
          <button class="button mt-1" id="get-next-episode-number">Get Next Episode Number</button>
        </div>
        <div class="field">
          <label class="label">Record Date</label>
          <div class="control">
            <input class="input" type="date" id="record-date" value="2022-11-22">
          </div>
        </div>
      </div>
      <div class="container" id="guest-conatiner">
        <div class="container" id="guest-row">
          <div class="field">
            <label class="label">Add a past guest</label>
            <div class="control">
              <span class="icon" id="submit-past-guest">
                <i class="fas fa-check"></i>
              </span>
              <div class="select">
                <select id="guest-select">
                  <option></option>
                  {% for guest in guests %}
                  <option>{{ guest.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <label class="label">Add a new guest</label>
            <div class="control is-flex">
              <span class="icon" id="submit-new-guest">
                <i class="fas fa-check"></i>
              </span>
              <input class="input" type="text" placeholder="Greg Greg" id="guest-input">
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody id="guests-body">
            <!-- {% for guest in guestData.guestsOnEpisode %}
            <tr>
              <td>
                <span class="icon" data-guest="{{ guest.id }}">
                  <i class="fas fa-trash"></i>
                </span>
              </td>
              <td>{{ guest.id }}</td>
              <td>{{ guest.name }}</td>
            </tr>
            {% endfor %} -->
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/5e450a7643.js" crossorigin="anonymous"></script>
    <script src="../static/js/addEpisodeData.js"></script>
</body>
</html>