<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>WKIWMS - Add Episode Data</title>
</head>
<body>
    <!-- NAV -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://www.instagram.com/p/CdaOEptPywa/" target="_blank" rel="noopener noreferrer">
            <img src="../static/images/WKIWMS_logo.jpeg" width="28" height="28">
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index') }}">Episodes</a>
            <a class="navbar-item" href="{{ url_for('addEpisodeData') }}">Add Episode</a>
        </div>
    </nav>
    <!-- FORM -->
    <div class="container" id="episode-form-container">
      <div class="container mb-4">
        <h1 class="title">General</h1>
        <div class="field">
          <label class="label">Episode Number</label>
          <div class="control">
            <input class="input" type="text" placeholder="1" id="episode-number" value="3" disabled>
          </div>
          <button class="button mt-1" id="get-next-episode-number">Get Next Episode Number</button>
        </div>
        <div class="field">
          <label class="label">Record Date</label>
          <div class="control">
            <input class="input" type="date" id="record-date" value="2022-11-22">
          </div>
        </div>
      </div>
      <div class="container" id="guest-conatiner">
        <h1 class="title">Guests</h1>
        <div class="container" id="guest-row">
          <div class="field">
            <label class="label">Add a past guest</label>
            <div class="control">
              <span class="icon" id="submit-past-guest">
                <i class="fas fa-check"></i>
              </span>
              <div class="select">
                <select id="guest-select">
                  <option></option>
                  {% for guest in data.guests %}
                  <option>{{ guest.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <label class="label">Add a new guest</label>
            <div class="control is-flex">
              <span class="icon" id="submit-new-guest">
                <i class="fas fa-check"></i>
              </span>
              <input class="input" type="text" placeholder="Greg Greg" id="guest-input">
            </div>
          </div>
          <button class="button is-danger" id="delete-guests">Delete All Guests On Episode</button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody id="guests-body">
            <tr>
              <td>
                <span class="icon trash" data-guest="2">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
              </td>
              <td>2</td>
              <td>Dave Warneke</td>
            </tr>
            <tr>
              <td>
                <span class="icon trash" data-guest="8">
                  <i class="fas fa-trash" aria-hidden="true"></i>
                </span>
              </td>
              <td>8</td>
              <td>Kirsty Webeck</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container" id="question-conatiner">
        <h1 class="title">Questions</h1>
        <div class="field">
          <label class="label">Question</label>
          <div class="control">
            <input class="input" type="text" id="question-text">
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select id="category-select">
              <option></option>
              {% for category in data.categories %}
              <option data-id="{{ category.id }}">{{ category.category }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Contributor</label>
        <div class="control">
          <input class="input" type="text" id="contributor-name">
        </div>
      </div>
      <div class="field">
        <label class="label">Location</label>
        <div class="control">
          <input class="input" type="text" id="location-text">
        </div>
      </div>
      <button class="button is-primary" id="add-question">Add Question to Episode</button>
      <button class="button is-success" id="get-all-questions">Get Questions for Episode</button>
      <button class="button is-danger" id="delete-all-questions">Delete All Questions for Episode</button>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Question</th>
            <th>Category</th>
            <th>Contributor</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody id="questions-body"></tbody>
      </table>
    </div>
    <div class="container" id="answers-conatiner">
      <h1 class="title">Answers</h1>
      <div class="field">
        <label class="label">Select a Question</label>
        <div class="control">
          <div class="select">
            <select id="question-select"></select>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="field">
          <label class="label">Answer</label>
          <div class="control">
            <input class="input" type="text" id="answer-text">
          </div>
        </div>
        <div class="field">
          <label class="label">Type</label>
          <div class="control">
            <div class="select">
              <select id="type-select">
                <option></option>
                {% for type in data.types %}
                <option data-id="{{ type.id }}">{{ type.type }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Guest</label>
          <div class="control">
            <div class="select">
              <select id="guest-select-on-episode"></select>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="field">
            <label class="label">Link</label>
            <div class="control">
              <input class="input" type="text" id="link">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="field">
            <label class="label">Fun Fact</label>
            <div class="control">
              <input class="input" type="text" id="fun-fact">
            </div>
          </div>
        </div>
      </div>
      <button class="button is-primary" id="add-answer">Add Answer For Question</button>
      <button class="button is-success" id="get-all-answers">Get Answers For Question</button>
      <button class="button is-danger" id="delete-all-answers">Delete All Answers For Question</button>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Answer</th>
            <th>Type</th>
            <th>Guest</th>
            <th>Link</th>
            <th>Fun Fact</th>
          </tr>
        </thead>
        <tbody id="answers-body"></tbody>
      </table>
    </div>
    <!-- MODAL -->
    <div class="modal" id="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" id="modal-title">Modal title</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body" id="modal-content">
          <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" id="left-button"></button>
          <button class="button" id="right-button"></button>
        </footer>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/5e450a7643.js" crossorigin="anonymous"></script>
    <script src="../static/js/addEpisodeData.js"></script>
</body>
</html>